@import url(http://fonts.googleapis.com/css?family=Cardo:800italic,400,700,800);
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:800italic,400,700,800);


/* http://coolors.co/ffe095-88c198-017487-710149-fe3775  */
#picture-home img.display {
    width: 890px;
}
html,
html a {
    -webkit-font-smoothing: subpixel-antialiased !important;
}
body {
    background: #ffffff;
    font-family: 'Cardo', serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow: visible;
    color: #1a1f22;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sorts Mill Goudy', serif;
    text-transform: uppercase;
    font-weight: normal;
}
button {
    font-size: 18px;
    padding: 8px 18px;
    border: none;
    background-color: #475258;
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
button:hover {
    background-color: #525f66;
}
button:active {
    background-color: #3c454a;
}
h1 {
    font-size: 7em;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
a {
    color: #7B3928;
}
i {
    text-shadow: none;
}
.aright {
    text-align: right;
}
.aleft {
    text-align: left;
}
.whiteblock {
    color: #1a1f22;
}
.whiteblock a {
    color: #7B3928;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.whiteblock a:hover {
    color: #c8c8c8;
}
.colorblock {
    background: #475258;
    color: #ffffff;
}
.colorblock a {
    color: #ffffff;
}
.button {
    display: inline-block;
    padding: 0.8em 1.5em;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}
.button:hover {
    background: rgba(0, 0, 0, 0.4);
}
.button:active {
    background: rgba(255, 255, 255, 0.1);
}
.block {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 0 0 0 0;
    z-index: 1;
}
.block .block-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 0 0;
}
.block .block-container .title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    margin: 40px 0 0.2em 0;
    color: #7B3928;
}
.block .block-container .description {
    font-size: 20px;
    font-weight: 300;
}
.socialblock {
    display: inline-block;
    padding: 0.5em;
}
.socialblock .socialicon {
    position: relative;
    float: left;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 8px;
}
.socialblock .socialicon i {
    font-size: 24px;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.socialblock .socialicon i:hover {
    font-size: 36px;
    margin: -6px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.mainmenu {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    text-align: center;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.mainmenu .menuwrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.mainmenu .menuwrapper .logoblock {
    float: left;
    padding: 0.9em 1em 0 1em;
    display: inline-block;
}
.mainmenu .menuwrapper .logoblock .companyname {
    float: left;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0.3em 0 0 1em;
    color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
}
.mainmenu .menuwrapper .menulist {
    display: inline-block;
    text-align: center;
    padding: 0.5em 1em 0em 1em;
    position: relative;
}
.mainmenu .menuwrapper .menulist .items {
    display: inline-block;
}
.mainmenu .menuwrapper .menulist .items .menuitem {
    float: left;
    list-style: none;
}
.mainmenu .menuwrapper .menulist .items .menuitem a {
    font-family: 'Cardo', serif;
    color: rgba(255, 255, 255, 0.62);
    display: inline-block;
    padding: 0.6em 1em;
    margin: 0 0.5em;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}
.mainmenu .menuwrapper .menulist .items .menuitem a:hover,
.mainmenu .menuwrapper .menulist .items .menuitem a:active {
    color: #fff;
}
.mainmenu .menuwrapper .socialblock {
    float: right;
    padding: 1.2em 1em 0 1em;
}
.mainmenu .menuwrapper .socialblock .socialicon {
    width: 1.2em;
    height: 1.2em;
    margin: 0 0 0 10px;
}
.mainmenu .menuwrapper .socialblock .socialicon i {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
}
.mainmenu .menuwrapper .socialblock .socialicon i:hover {
    color: #fff;
    font-size: 30px;
    margin: -4px 0 0 -4px;
}
.mainmenu.scrolled {
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}
.mainmenu.scrolled .menuwrapper .menulist .items .menuitem a {
    color: #1a1f22;
}
.mainmenu.scrolled .menuwrapper .menulist .items .menuitem a:hover,
.mainmenu.scrolled .menuwrapper .menulist .items .menuitem a:active,
.mainmenu.scrolled .menuwrapper .logoblock:hover .companyname:hover {
    color: #2980b9;
}
.mainmenu.scrolled .menuwrapper .logoblock .companyname {
    visibility: visible;
}
.homeblock {
    background: #7B3928;
}
.homeblock #description-home {
    text-align: center;
    width: 100%;
    float: left;
    position: relative;
    margin-top: 100px;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
}
.homeblock #description-home .wrapper {} .homeblock #description-home .wrapper .supertext {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.homeblock #description-home .wrapper .maintext {
    margin: 30px 0;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 800;
}
.homeblock #description-home .wrapper .descriptiontext {
    font-size: 23px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
}
.homeblock #description-home .wrapper .links {
    clear: both;
    margin: 2em 0;
}
.homeblock #description-home.active {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    padding-bottom: 100px;
}
.homeblock #picture-home {
    min-height: 700px;
    margin-bottom: -6px;
}
.appsblock .apps .slider {
    margin: 15px 0;
    position: relative;
    float: left;
    min-width: 99%;
    min-height: 200px;
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -o-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.appsblock .apps .slider .navigation {
    width: 50px;
    height: 50px;
    font-size: 20px;
    z-index: 500;
    color: #7B3928;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    margin: 0 40px;
    top: 40%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.appsblock .apps .slider .navigation i {
    float: left;
    padding: 15px 18px;
}
.appsblock .apps .slider .navigation-left {
    left: 0;
}
.appsblock .apps .slider .navigation-right {
    right: 0;
}
.appsblock .apps .slider .navigation:hover {
    -webkit-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
    -ms-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    transform: rotate(360deg) scale(1.3);
}
.appsblock .apps .slider .rotator {
    max-width: 960px;
    margin: 0 120px;
    height: 100%;
    position: relative;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.appsblock .apps .slider .rotator .slide {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-backface-visibility: visible;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    display: table;
    vertical-align: middle;
    opacity: 0;
    text-align: left;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper {
    position: relative;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper .picture {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    text-align: center;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper .picture img.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.appsblock .apps .slider .rotator .slide .slide-wrapper .container {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 50;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper .container .title {
    margin: 0 0 20px 0;
    font-size: 40px;
    font-family: 'Cardo';
    text-align: inherit;
    text-transform: none;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper .container .description {
    display: inline-block;
    font-size: 18px;
    text-align: inherit;
    line-height: 1.6;
    color: #FFFFFF;
}
.appsblock .apps .slider .rotator .active {
    opacity: 1;
    z-index: 200;
}
.appsblock .apps .slider .rotator .odd {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.appsblock .apps .slider .revert {
    -webkit-transform: rotateY(360deg);
}
.footerblock {
    text-align: center;
}

.footerblock .block-container {
    padding: 40px 0;
}

.footerblock a.copyright {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 80px;
    }
    .mainmenu {
        position: absolute;
    }
    .mainmenu .menuwrapper a.logoblock,
    .mainmenu .menuwrapper .socialblock {
        display: none;
    }
    .homeblock .block-container #description-home {
        text-align: center;
        width: 100%;
        float: left;
        position: relative;
        padding: 10px 0;
        margin-top: 10px;
    }
    .homeblock .block-container #description-home .wrapper {
        max-width: none;
    }
    .homeblock .block-container #description-home .wrapper .descriptiontext {
        max-width: none;
    }
    .homeblock .block-container #description-home .wrapper .mobilebrands {
        float: none;
        text-align: center;
        display: inline-block;
    }
    .homeblock .block-container #picture-home {
        display: none;
    }
    .appsblock .block-container .apps .slider {
        margin-top: 40px;
    }
    .appsblock .block-container .apps .slider .navigation {
        margin: 0 10px;
    }
    .appsblock .block-container .apps .slider .rotator {
        margin: 0 10%;
    }
    .appsblock .block-container .apps .slider .rotator .slide {
        display: inline-block;
        float: left;
    }
    .appsblock .block-container .apps .slider .rotator .slide h1.title {
        font-size: 30px;
        text-align: center;
        margin: 0;
    }
    .appsblock .block-container .apps .slider .rotator .slide .picture {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .appsblock .block-container .apps .slider .rotator .slide .picture img {
        float: none;
        display: inline-block;
    }
    .appsblock .block-container .apps .slider .rotator .slide .container {
        display: inline-block;
        margin-top: 1em;
        width: 100%;
        max-width: none;
        text-align: center;
        padding: 0;
    }
    .appsblock .block-container .apps .slider .rotator .slide .container .description {
        max-width: none;
        padding: 1em 0;
    }
}
@media screen and (max-width: 800px) {
    .mainmenu .menuwrapper .menulist {
        padding: 0;
        float: left;
        width: 100%;
    }
    .mainmenu .menuwrapper .menulist ul.items {
        float: left;
        width: 100%;
    }
    .mainmenu .menuwrapper .menulist ul.items li.menuitem {
        display: none;
        width: 100%;
    }
    .mainmenu .menuwrapper .menulist ul.items li.menuitem a {
        width: 100%;
        font-size: 20px;
        border-radius: 0;
        padding: 0.5em 0;
        margin: 0;
    }
    .mainmenu .menuwrapper .menulist ul.items li.menuitem:first-child {
        display: inline-block;
    }
    .mainmenu .menuwrapper .menulist ul.items:hover li.menuitem {
        display: inline-block;
    }
    .mainmenu .menuwrapper .menulist ul.items:hover li.menuitem a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
@media screen and (max-width: 540px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    .block {
        padding-bottom: 40px;
    }
    .block .block-container {
        padding-top: 40px;
    }
    .block .block-container h2.title,
    .block .block-container .description {
        margin-left: 10px;
        margin-right: 10px;
    }
    .homeblock .block-container #description-home {
        padding: 0;
    }
    .homeblock .block-container #description-home .wrapper {
        margin: 0 10px;
    }
    .homeblock .block-container #description-home .wrapper .developer {
        font-size: 0.9em;
    }
    .appsblock .apps .slider {
        margin: 40px 0;
    }
    .appsblock .apps .slider .navigation {
        margin: 0 10px;
    }
    .appsblock .apps .slider .navigation:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .appsblock .apps .slider .rotator {
        margin: 0 50px;
    }
    .appsblock .apps .slider .rotator .slide .container {
        margin-top: 10px;
    }
    .appsblock .apps .slider .rotator .slide .container .title {
        margin: 0;
    }
    .teamblock .block-container .teamcontainer .personal {
        width: 100%;
        margin: 0;
    }
    .priceblock .block-container .pricetable .priceitem {
        width: 100%;
        margin-bottom: 0;
    }
}

#plugins i.puzzle {
    font-size: 140px;
    float: left;
    padding: 20px;
    color: #7B3928;
}

#plugins .description {
    text-align: left;
}

#features i.features {
    font-size: 140px;
    padding: 20px;
    color: #f39c12;
}

img.small {
    width: 120px;
    padding: 0 20px;
}


#about {
    margin-top: -7px;
}

#about .description {
    text-align: left;
}

img.left {
    float: left;
}

.slide.simplicity .picture i.fa {
    font-size: 9.3em;
    color: #ffffff;
}

.slide.speed .picture i.fa {
    font-size: 9.3em;
    color: #ffffff;
}

.slide.api .picture i.fa {
    font-size: 9.3em;
    color: #ffffff;
}

.slide.git .picture i.fa {
    font-size: 9.3em;
    color: #ffffff;
}

#themes i.fa {
    color: #ffffff;
    font-size: 140px;
    float: left;
    padding: 20px;
}


#themes .description {
    text-align: left;
}

#features {
    margin-top: 128px;
    background: #7B3928;
    padding: 0 0 100px 0;
    color #ffffff;
}

#features a {
    color: #ffffff;
}

#features h2,
#features h1 {
    color: #FFFFFF;
}

code {
    background: rgba(255, 255, 255, 0.2);
    padding: 1px 8px;
    border: 1px solid rgba(166, 161, 161, 0.16);
    border-radius: 4px;
}


#features .block-container .title {
    margin: 0;
}

#features .block-container {
    width: 100%;
}

div.bg-blue {
    background: #7B3928;
    color: white;
}

div.bg-blue a {
    color: white;
}

div#plugins {
    padding-bottom: 150px;
}

div#support {
    margin: 0px 0;
    padding-bottom: 50px;
}

div#support .button {
    background: #7B3928;
}

div.bg-blue h2 {
    color: white !important;
}

div#support .button {
    color: white;
}

div#support .button:hover {
    padding: 20px 40px;
    font-size: 1em;
}

div#support .block-container {
    padding-top: 1.5em;
}

.mainmenu.scrolled .menuwrapper .socialblock .socialicon i {
    color: rgba(0, 0, 0, 0.36);
}

.mainmenu.scrolled .menuwrapper .socialblock .socialicon i:hover {
    color: #475258;
}

@-webkit-keyframes pulse_animation {
    0% { -webkit-transform: scale(1); }
    16% { -webkit-transform: scale(1); }
    33% { -webkit-transform: scale(1.2); }

    50% { -webkit-transform: scale(1); }
    66% { -webkit-transform: scale(1); }
    83% { -webkit-transform: scale(1.2); }
}

.pulse {
    -webkit-animation-name: 'pulse_animation';
    -webkit-animation-duration: 1500ms;
    -webkit-transform-origin: 50% 60%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.triangle {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.triangle.white {
    border-top: 20px solid #ffffff;
}

.triangle.blue {
    border-top: 20px solid #7B3928;
}

.triangle.black {
    border-top: 20px solid #000;
}

.sponsors {
    padding: 30px 0;
}

.sponsors img {
    min-height: 50px;
    display: inline-block;
    max-width: 200px;
    margin: 27px;
    -webkit-filter: grayscale(1);
}

.sponsors img:hover {
    -webkit-filter: none;
}

.sponsors a {
    text-decoration: none;
}

div#themes {
    padding-bottom: 60px;
}

#home {
    background-image: url("../img/bg.jpg");
    background-size: 100%;
    background-position: 0 center;
}

.shadow {
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    bottom: 0px;
}
