@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);
@import url(https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css);
@import url(pe-icon-7-stroke/css/pe-icon-7-stroke.css);

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.navbar-transparent.navbar {
   background: rgba(0, 0, 0, 0.19);
   border-color: transparent;
   position: absolute;
    z-index: 3;
   width: 100%;
}

a {
    color: #00bbff;
}

.navbar-transparent a {
    color: #fff;
}

.navbar img {
    max-height: 100%;
}

img {
    max-width: 100%;
}

.parallax {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: block;
    background-size: 100%;
}

.parallax .parallax-background {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: black;
}

.parallax .container {
    z-index: 2;
    position: absolute;
    color: #fff;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    left: 0;
    right: 0;
    padding: 90px 0;
}

section.bg-gray {
    background: #EEEEEE;
    color: #333;
}

.pad-big {
    padding: 30px;
}

/* sponsors */
.sponsors {
    padding: 30px 0;
}

.sponsors img {
    display: inline-block;
    margin: 27px;
    -webkit-filter: grayscale(1);
}

.sponsors img:hover {
    -webkit-filter: none;
}

.sponsors a {
    text-decoration: none;
}

.sponsors img {
    vertical-align: middle;
}

.sponsors .s-brightbox img {
    height: 75px;
}

.sponsors .s-imedicare img {
    height: 75px;
}

.sponsors .s-devstickers img {
    height: 26px;
}

.sponsors .s-carlisa img {
    height: 78px;
}

.sponsors .s-statuspage img {
    height: 37px;
}

.about .section-content {
    max-width: 640px;
    margin: 0 auto;
}

.card {
    border: 1px solid #CCE7F5;
    min-height: 400px;
    text-align: center;
    padding: 10px 30px;
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
    border-radius: 4px;
}

.card .icon i {
    font-size: 63px;
    color: #00bbff;
    width: 85px;
    height: 85px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.col-md-4.icon {
    font-size: 100px;
    padding: 40px;
    text-align: center;
}

.navbar-transparent li a:focus,
.navbar-transparent li a:hover {
    background: rgba(0, 0, 0, 0.17);
}

.parallax-background img {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
    width: 100%;
}

.logo-title {
    height: 126px;
}

.subscribe-form {
    max-width: 450px;
    margin: 40px auto;
    background: rgba(0, 0, 0, 0.43);
    padding: 20px;
    border-radius: 4px;
}

.navbar-brand {
    height: 70px;
}

.navbar-transparent .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 30px;
}

.plugins .fa {
    color: #94979A;
}

.features .row > div:nth-of-type(1) i.fa {
    color: #F1C40F;
}

.features .row > div:nth-of-type(2) i.fa {
    color: #D87804;
}

.features .row > div:nth-of-type(3) i.fa {
    color: #3A566D;
}

.features .row > div:nth-of-type(4) i.fa {
    color: #666D73;
}

.donate li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    background-color: #FFFFFF;
    margin: 10px;
    width: calc(25% - 20px);
    text-align: center;
    color: #696969;
    font-weight: bold;
    opacity: 0.7;
    cursor: pointer;
    min-width: 150px;
}

.donate li:hover {
    opacity: 1;
}

.donate li.active {
    opacity: 1;
    background-color: #2C3E50;
    color: #fff;
}

.donate li > input {
    border: none;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    margin-left: 10px;
    color: #2C3E50;
    width: calc(100% - 47px) !important;
}

.donate li:last-of-type {
    height: 66px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0;
}

.donate ul {
    padding: 0;
    margin: 0;
}

button.btn.bg-orange {
    padding: 20px 160px;
}

.donate {
    text-align: center;
}

.btn-donate {
    width: calc(100% - 20px);
}

.footer img {
    height: 39px;
    margin-top: 24px;
    opacity: 0.6;
}

@media (min-width: 765px) and (max-width: 995px) {
    .navbar-transparent .navbar-nav > li > a {
        font-size: 15px;
    }
    section.heading.parallax {
	height: 390px;
    }
    .parallax .container {
	margin-top: 0;
    }
}

@media (max-width: 765px) {
    .navbar-header {
	text-align: center;
    }

    a.navbar-brand {
	float: none;
	display: inline-block;
	margin-left: 70px;
    }

    a.navbar-brand img {
	height: 40px;
    }

    .navbar-toggle {
	border-color: white;
	margin-top: 18px;
    }

    span.icon-bar {
	border-top: 1px solid white;
	margin-top: 1px;
    }

    .navbar-transparent.navbar {
	background: rgba(0, 0, 0, 0.63);
	text-align: center;
	font-weight: bold;
    }

    .nav>li {
	border-bottom: 1px solid rgba(208, 208, 208, 0.25);
    }

    img.logo-title {
    }

    .parallax .container {
	margin-top: 0;
    }

    .parallax .container img.logo-title {
      	height: 60px;
    }

    section.heading.parallax {
	height: 320px;
    }
}

@media (min-width: 1680px) {
    .parallax.heading .container {
        top: 20%;
    }
    section.heading.parallax {
        height: 100vh;
        min-height: 500px;
    }
    section.heading.parallax img {
        min-height: 100%;
    }
}

@media (max-width: 635px) {
    .parallax-background img {
        display: none;
    }
}

.parallax.logos {
    height: 500px;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.logos .panel-body {
    padding: 50px;
    height: 100%;
}

.logos .panel-footer {
    position: absolute;
    bottom: 21px;
    left: 16px;
    right: 16px;
}

.logos .panel.panel-default {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.pe-7s-check {
    color: #3dd37c;
    font-weight: bold;
}

i.pe-7s-close {
    color: #e74c3c;
    font-weight: bold;
}

ul.list-unstyled {
    font-size: 14px;
}
