<!DOCTYPE html>
<html><!--<![endif]--><head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Cards — 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Free HTML5 Template by FREEHTML5.CO">
   <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive">
   <meta name="author" content="FREEHTML5.CO">

   <!--
   //////////////////////////////////////////////////////

   FREE HTML5 TEMPLATE
   DESIGNED & DEVELOPED by FREEHTML5.CO

   Website:       http://freehtml5.co/generator/
   Email:         info@freehtml5.co
   Twitter:       http://twitter.com/fh5co
   Facebook:      https://www.facebook.com/fh5co

   //////////////////////////////////////////////////////
   -->

   <!-- Facebook and Twitter integration -->
   <meta property="og:title" content="">
   <meta property="og:image" content="">
   <meta property="og:url" content="">
   <meta property="og:site_name" content="">
   <meta property="og:description" content="">
   <meta name="twitter:title" content="">
   <meta name="twitter:image" content="">
   <meta name="twitter:url" content="">
   <meta name="twitter:card" content="">

   <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
   <link rel="shortcut icon" href="favicon.ico">

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700" rel="stylesheet" type="text/css">

   <!-- Animate.css -->
   <link rel="stylesheet" href="css/animate.css">
   <!-- Icomoon Icon Fonts-->
   <link rel="stylesheet" href="css/icomoon.css">
   <!-- Magnific Popup-->
   <link rel="stylesheet" href="css/magnific-popup.css">
   <!-- Owl Carousel -->
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="css/owl.theme.default.min.css">
   <!-- Bootstrap  -->
   <link rel="stylesheet" href="css/bootstrap.css">

   <!-- Cards -->
   <link rel="stylesheet" href="css/cards.css">

   <!-- Modernizr JS -->
   <script src="js/modernizr-2.6.2.min.js"></script>
   <!-- FOR IE9 below -->
   <!--[if lt IE 9]>
   <script src="js/respond.min.js"></script>
   <![endif]-->

   </head>
   <body class="fh5co-overflow">

   <div id="fh5co-page">





      <nav class="fh5co-nav-style-1" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
         <div class="container">
            <div class="col-md-3 col-sm-3 col-xs-12 fh5co-logo">
               <a href="#" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
               <a href="#">Cards</a>
            </div>
            <div class="col-md-6 col-sm-6 text-center fh5co-link-wrap">
               <ul data-offcanvass="yes">
                  <li class="active"><a href="#">Tour</a></li>
                  <li><a href="#">Explore</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Pricing</a></li>
               </ul>
            </div>
            <div class="col-md-3 col-sm-3 text-right fh5co-link-wrap">
               <ul class="fh5co-special" data-offcanvass="yes">
                  <li><a href="#" class="call-to-action">Get Started</a></li>
               </ul>
            </div>
         </div>
      </nav>

      <div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-next="yes" style="height: 918px; background-image: url(&quot;images/full_1.jpg&quot;);">
         <span class="scroll-btn">
            <a href="#">
               <span class="mouse"><span></span></span>
            </a>
         </span>
         <div class="fh5co-overlay"></div>
         <div class="fh5co-cover-text">
            <div class="container">
               <div class="row">
                  <div class="col-md-push-6 col-md-6 full-height js-full-height" style="height: 918px;">
                     <div class="fh5co-cover-intro">
                        <h1 class="cover-text-lead">We make publishing easy.</h1>
                        <h2 class="cover-text-sublead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</h2>
                        <p><a href="#" class="btn btn-outline btn-lg">See Our Work</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div><div class="fh5co-blog-style-2">
         <div class="container">
            <div class="row p-b text-center">
               <div class="col-md-6 col-md-offset-3">
                  <h2>Recent Blog</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <a href="#" class="link-block">
                     <figure><img src="images/img_same_dimension_1.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                     <h3>Traveling in North Pole</h3>
                     <p><span class="fh5co-meta">15, August 2015</span></p>
                  </a>
               </div>
               <div class="col-md-4 col-sm-6">
                  <a href="#" class="link-block">
                     <figure><img src="images/img_same_dimension_2.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                     <h3>Easy Ways to Create Cards</h3>
                     <p><span class="fh5co-meta">12, September 2015</span></p>
                  </a>
               </div>
               <div class="col-md-4 col-sm-6">
                  <a href="#" class="link-block">
                     <figure><img src="images/img_same_dimension_3.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                     <h3>Live a Healthy Lifestyle this 2016</h3>
                     <p><span class="fh5co-meta">9, October 2015</span></p>
                  </a>
               </div>
            </div>
         </div>
      </div><div class="fh5co-content-style-10">
         <div class="container">
            <div class="row">
               <div class="col-md-5 col-sm-5">
                  <h2>We are digital studio that build brands that tells.</h2>
               </div>
               <div class="col-md-6 col-md-push-1 col-sm-6 col-sm-push-1">
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                  <p><a href="#" class="btn btn-outline">Learn More</a></p>
               </div>
            </div>
         </div>
      </div><div class="fh5co-features-style-3">
         <div class="container">
            <div class="row p-b">
               <div class="col-md-6 col-md-offset-3 text-center">
                  <h2 class="fh5co-heading">Why Choose Us</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="box to-animate">
                     <div class="icon colored-1"><span><i class="icon-command"></i></span></div>
                     <h3>100% free</h3>
                     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                  </div>
                  <div class="box to-animate">
                     <div class="icon colored-4"><span><i class="icon-heart22"></i></span></div>
                     <h3>Made with love</h3>
                     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box to-animate">
                     <div class="icon colored-2"><span><i class="icon-toggle"></i></span></div>
                     <h3>Fully responsive</h3>
                     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  </div>
                  <div class="box to-animate">
                     <div class="icon colored-5"><span><i class="icon-clock2"></i></span></div>
                     <h3>Fast &amp; light</h3>
                     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box to-animate">
                     <div class="icon colored-3"><span><i class="icon-eye22"></i></span></div>
                     <h3>Retina-ready</h3>
                     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                  </div>
                  <div class="box to-animate">
                     <div class="icon colored-6"><span><i class="icon-head"></i></span></div>
                     <h3>For creative like you!</h3>
                     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  </div>
               </div>
            </div>
         </div>
      </div><div class="fh5co-footer-style-3">
         <div class="container">
            <div class="row p-b">
               <div class="col-md-3 col-sm-6 fh5co-footer-widget">
                  <div class="fh5co-logo"><span class="logo">C</span> Cards</div>
                  <p class="fh5co-copyright">© 2016 Cards Pt. Ltd. <br>All Rights Reserved. <br>Designed by <a href="#">FREEHTML5.co</a></p>
               </div>
               <div class="col-md-3 col-sm-6 fh5co-footer-widget">
                  <h3>Company</h3>
                  <ul class="fh5co-links">
                     <li><a href="#">How it Works</a></li>
                     <li><a href="#">Services</a></li>
                     <li><a href="#">Products</a></li>
                     <li><a href="#">Careers</a></li>
                     <li><a href="#">Blog</a></li>
                     <li><a href="#">Contact</a></li>
                  </ul>
               </div>
               <div class="clearfix visible-sm-block"></div>
               <div class="col-md-3 col-sm-6 fh5co-footer-widget">
                  <h3>Connect</h3>
                  <ul class="fh5co-links fh5co-social">
                     <li><a href="#"><i class="icon icon-facebook2"></i> Facebook</a></li>
                     <li><a href="#"><i class="icon icon-twitter"></i> Twitter</a></li>
                     <li><a href="#"><i class="icon icon-dribbble"></i> Dribbble</a></li>
                     <li><a href="#"><i class="icon icon-instagram"></i> Instagram</a></li>
                  </ul>
               </div>
               <div class="col-md-3 col-sm-6 fh5co-footer-widget">
                  <h3>About</h3>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                  <p><a href="#" class="btn btn-success btn-sm btn-outline">I'm a button</a></p>
               </div>
               <div class="clearfix visible-sm-block"></div>
            </div>
            <div class="row fh5co-made">
               <div class="col-md-12">
                  <p>Made with <i class="heart icon-heart"></i> in Philippines</p>
               </div>
            </div>
         </div>
      </div></div>
   <!-- END page-->

   <!-- jQuery -->
   <script src="js/jquery.min.js"></script>
   <!-- jQuery Easing -->
   <script src="js/jquery.easing.1.3.js"></script>
   <!-- Bootstrap -->
   <script src="js/bootstrap.min.js"></script>
   <!-- Waypoints -->
   <script src="js/jquery.waypoints.min.js"></script>
   <!-- Owl Carousel -->
   <script src="js/owl.carousel.min.js"></script>
   <!-- Magnific Popup -->
   <script src="js/jquery.magnific-popup.min.js"></script>
   <!-- Main -->
   <script src="js/main.js"></script>
</body></html>
