@import 'https://fonts.googleapis.com/css?family=Cardo';
@import "./contact-form";

.logo img {
    height: 43px;
    margin-top: -7px;
}

img {
    max-width: 100%;
}

/* sponsors */
.sponsors {
    padding: 30px 0;
}

.sponsors img {
    display: inline-block;
    margin: 27px;
    max-width: 80%;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
}

.sponsors img:hover {
    -webkit-filter: none;
    -moz-filter: none;
}

.sponsors a {
    text-decoration: none;
}

.sponsors img {
    vertical-align: middle;
}

.sponsors .s-brightbox img {
    height: 75px;
}

.sponsors .s-imedicare img {
    height: 75px;
}

.sponsors .s-devstickers img {
    height: 26px;
}

.sponsors .s-carlisa img {
    height: 78px;
}

.sponsors .s-statuspage img {
    height: 37px;
}


.fh5co-content-style-4 {
    background: #e5e6e7;
}


.fh5co-content-style-4 .fh5co-heading {
    color: #313f51;
}

.fh5co-content-style-4 .btn-outline {
    color: #313f51;
    border-color: #313f51;
}

.mark-logo {
    width: 70px;
    max-width: 100%;
}

.fh5co-features-style-3 .box .icon > span i {
    position: relative;
    top: 3px;
}

.donate li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    background-color: #FFFFFF;
    margin: 10px;
    width: calc(25% - 20px);
    text-align: center;
    color: #696969;
    font-weight: bold;
    opacity: 0.7;
    cursor: pointer;
    min-width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.donate li:hover {
    opacity: 1;
}

.donate li.active {
    opacity: 1;
    background-color: #d5740f;
    color: #fff;
}

.donate li > input {
    border: none;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    margin-left: 10px;
    color: #2C3E50;
    width: calc(100% - 47px) !important;
}

.donate li:last-of-type {
    height: 66px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0;
}

.donate ul {
    padding: 0;
    margin: 0;
}

button.btn.btn-lg.btn-default.btn-donate {
    width: calc(100% - 20px);
    background: #d5740f;
    border-color: #C25B00;
    margin: 10px;
}

button.btn.btn-lg.btn-default.btn-donate:hover,
button.btn.btn-lg.btn-default.btn-donate:focus,
button.btn.btn-lg.btn-default.btn-donate:active {
    color: #C25B00;
    border-color: #C25B00 !important;
    background: #fff !important;
}

@media (max-width: 400px) {
    .donate li {
        width: 100% ;
        margin: 5px 0;
    }
}

.fh5co-content-style-4 .btn-outline:hover {
    color: #fff;
}

@media (min-width: 666px) {
    .equal, .equal > div[class*='col-'] {
        display: -webkit-flex;
        display: flex;
        flex:1 1 auto;
    }

    .logos .panel-body {
        padding: 50px;
        width: 100%;
    }

    .logos .panel-footer {
        position: absolute;
        bottom: 21px;
        left: 16px;
        right: 16px;
    }

    .logos .panel.panel-default {
        padding-bottom: 20px;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    .fh5co-cover-text {
        top: 40px !important;
    }
}


.p-t {
    padding-top: 100px;
}

.full-screen-popup h2 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}

.full-screen-popup {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0;
    background: #000;
    color: #fff;
    padding: 70px;
    font-size: 21px;
    z-index: 9999999;
    overflow: auto;
    display: none;
    height: 100vh;
    overflow: auto;
    width: 100vw;
}

.full-screen-popup a {
    color: #428bca;
}

.close-icon {
    font-size: 60px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
    color: #eee;
    cursor: pointer;
}

.full-screen-popup ul {
    margin-bottom: 50px;
}

.full-screen-popup li {
    line-height: 40px;
}

@media (max-width: 400px) {
    .full-screen-popup {
        padding: 10px 20px;
        font-size: 15px;
    }

    .close-icon {
        left: initial;
        right: 20px;
    }
}

.logos .panel.panel-default {
    background-color: #fff;
}

.logos .panel-footer {
    background-color: rgba(255, 255, 255, 0.33) !important;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
}

.box.to-animate {
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.fh5co-content-style-9 {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


.disable-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.fh5co-cover .fh5co-cover-text {
    top: 30px;
}



div.background-cover {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow-x: hidden;
}

body.template-blog_page,
body.template-article,
body.template-site_page {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.page-content {
  margin: 0 auto;
  position: relative;
  top: 120px;
  margin-bottom: 160px;
}

article.content {
  margin-top: 2em;
}

.fh5co-special a {
  margin-right: 0 !important;
}

div#fh5co-page {
    background: rgba(0,0,0,0.8);
}

.article-item .article-img {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.33);
}

.article-item .article-img img {
  width: 100%;
  -webkit-filter: brightness(0.7);
  -moz-filter: brightness(0.7);
  -ms-filter: brightness(0.7);
  filter: brightness(0.7);
}

article.article-item {
  margin-top: -10em;
}

.article-item.has-image h1,
.single-article-item.has-image h1,
.single-article-item.has-image div.article-meta,
.article-item.has-image div {
  color: #fff;
}

.article-item.has-image .read-more {
  color: #262626;
  padding: 17px;
  box-sizing: border-box;
  float: right;
  background: #fff;
  position: relative;
  top: -1.5em;
  font-size: 2.5em;
  right: 1em;
}

.article-item.has-image .read-more:hover {
  opacity: 0.8;
}

@media (min-width: 500px) {
  article.article-item {margin-top: -3em;}
  .full-height {
     height: 100vh;
  }
}

.long-dash,
.article-item-top h1 {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
}

.article-item-top {
    position: relative;
    left: 4.6em;
    top: 9em;
    z-index: 3;
    pointer-events: none;
}


.long-dash {
  position: absolute;
  left: -1.2em;
  top: 0.33em;
}

.summary-top {
    font-size: 2em;
    font-family: 'Cardo', serif;
    margin-top: 10px;
}

.article-bottom-side {
    position: relative;
    bottom: 8em;
    left: 4.6em;
    right: 0;
    /* width: calc(100% - 7.5em); */
}

.article-bottom-side p {
  margin: 0;
}

.article-bottom-side p.article-section-name {
  font-family: 'Cardo', serif;
  font-size: 1.1em;
}

.article-bottom-side p.article-section-value {
  font-weight: 800;
  font-size: 1.5em;
}

.col-md-0 {
    width: 0;
    float: left;
}

body, html {
    max-width: 100%;
    overflow-x: hidden;
}

.single-article-item .article-info {
    position: absolute;
    left: 0;
    background: rgba(38, 38, 38, 0.68);
    padding: 1em 2em 1em 6em;
    bottom: 3em;
}

.single-article-item h1.article-title {
    font-size: 4em;
    margin: 0;
}

.single-article-item .summary-top {
  color: #fff;
  margin: 1em 0;
}

.single-article-item .article-sup {
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.single-article-content.article-content.content {
    font-family: "Sans Source Pro", sans-serif;
    background: white;
    padding: 2em 5em;
    font-size: 1.1em;
    line-height: 1.9em;
    margin-bottom: 3em;
}

@media (max-width: 500px) {
  .long-dash, .article-item-top h1 {
    font-size: 2em;
  }
  .long-dash {
    top: 0.1em;
    left: -0.8em;
  }
  .article-item-top,
  .article-bottom-side {
      left: 2.1em;
  }

  .article-bottom-side {
    top: -2em;
  }

  .article-item-top {
    top: 4em;
  }

  article.article-item {
    margin-top: -6em;
  }

  .article-bottom-side p.article-section-name,
  .article-bottom-side p.article-section-value {
    display: none;
  }

  .summary-top {
    font-size: 1em;
    margin-top: 0em;
  }

  .article-item.has-image .read-more {
    right: 0.5em;
    padding: 10px;
    font-size: 1.7em;
    top: -1em;
  }

  .single-article-content.article-content.content {
      background: white;
      padding: 2em 1.5em;
      font-size: 1em;
      line-height: 1.5em;
  }

  .single-article-item .article-info {
    padding: 1em;
    bottom: 1em;
  }

  .single-article-item h1.article-title {
    font-size: 1.8em;
  }

  .single-article-item .article-sup {
    font-size: 0.6em;
  }

  .single-article-item .summary-top {
    margin: 0.5em 0;
    font-size: 1em;
  }
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-bottom: 10px;
    margin-top: 45px;
}

.article-img {
    position: relative;
}


.article-item .row.article-info {
    width: 100%;
}

.article-img > img {
    width: 100%;
}

body.template-site_page .page-content {
    background: white;
    padding: 25px;
}

.featured-companies h4 {
    color: #fff;
    margin: 0.5em 0;
}

.featured-companies {
    margin-top: 40px;
}

.featured-companies ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.featured-companies ul li {
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 2px;
    margin: 2px;
}

.featured-companies ul li img {
    height: 29px;
}

@media (min-width: 1000px) {
    .featured-companies ul li img {
        filter: grayscale(1);
    }

    .featured-companies ul li img:hover {
        filter: grayscale(0);
    }
}

.col-md-5.full-height.hidden-xs.hidden-sm > .fh5co-cover-intro {
    text-align: center;
    & > img {
        max-width: 80%;
    }
}

.service-box {
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
    transition: .2s all ease;
    display: block;
    &:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        transform: scale(1.01);
    }
    & img {
        border-radius: 10px 10px 0 0;
    }
    & h3, & p {
        color: #444;
        padding: 0 10px;
    }
}
